<div class="container p-3">
  <%= simple_form_for @cocktail do |f| %>
  <% if @cocktail.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @cocktail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-inputs">
      <%= f.input :name %>
    </div>
  ​
    <%= f.submit "Add Cocktail", class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
</div>
