<div class="banner d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo,  crop: :fill %>')">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="justify-content-center text-white">
          <h1 class="text-center"></h1>
          <%= render 'form', cocktail: @cocktail %>
          <%= link_to "Back", cocktails_path, class: "pl-3 text-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
