<div class="container pt-3">
  <ul class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), style: "text-decoration: none" do %>
      <li class="card"><%= cocktail.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
