<div class="home-video-wrapper">
  <%= video_tag "bar_video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, playsinline: true, class: "home_video" %>
<i id="arrow-down" class="fas fa-arrow-down home" style="left: 50%"></i>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')"><%= cocktail.name %>
      </div>
        <% end %>
      <% end %>
  </div>
</div>
<footer class="text-center pt-5 pb-5 text-black-50">
  <p style="font-size: 13px">Made with <i class="fas fa-beer text-warning"></i> at Le Wagon Berlin</p>
</footer>


